<div>
  <h2 id="page-heading" data-cy="IsdnListHeading">
    <span jhiTranslate="smpptoolsApp.isdnList.home.title">Isdn Lists</span>

    <div class="d-flex justify-content-end">
      <button class="d-none btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="smpptoolsApp.isdnList.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-isdn-list"
        [routerLink]="['/isdn-list/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="smpptoolsApp.isdnList.home.createLabel"> Create a new Isdn List </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="isdnLists?.length === 0">
    <span jhiTranslate="smpptoolsApp.isdnList.home.notFound">No isdnLists found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="isdnLists && isdnLists.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="smpptoolsApp.isdnList.name">Name</span></th>
          <th scope="col"><span jhiTranslate="smpptoolsApp.isdnList.description">Description</span></th>
          <th scope="col"><span jhiTranslate="smpptoolsApp.isdnList.content">Content</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let isdnList of isdnLists; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/isdn-list', isdnList.id, 'view']">{{ isdnList.id }}</a>
          </td>
          <td>{{ isdnList.name }}</td>
          <td>{{ isdnList.description }}</td>
          <td>{{ isdnList.content }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/isdn-list', isdnList.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/isdn-list', isdnList.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(isdnList)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
