<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="testCase">
      <h2 data-cy="testCaseDetailsHeading"><span jhiTranslate="smpptoolsApp.testCase.detail.title">Test Case</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ testCase.id }}</span>
        </dd>
        <dt><span jhiTranslate="smpptoolsApp.testCase.name">Name</span></dt>
        <dd>
          <span>{{ testCase.name }}</span>
        </dd>
        <dt><span jhiTranslate="smpptoolsApp.testCase.description">Description</span></dt>
        <dd>
          <span>{{ testCase.description }}</span>
        </dd>
        <dt><span jhiTranslate="smpptoolsApp.testCase.testSession">Test Session</span></dt>
        <dd>
          <span>{{ testCase.testSession }}</span>
        </dd>
        <dt><span jhiTranslate="smpptoolsApp.testCase.state">State</span></dt>
        <dd>
          <span>{{ testCase.state }}</span>
        </dd>
        <dt><span jhiTranslate="smpptoolsApp.testCase.createdAt">Created At</span></dt>
        <dd>
          <span>{{ testCase.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="smpptoolsApp.testCase.updatedAt">Updated At</span></dt>
        <dd>
          <span>{{ testCase.updatedAt | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>
    </div>
  </div>
</div>
