<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-smsc-account-heading"
        data-cy="SmscAccountCreateUpdateHeading"
        jhiTranslate="smpptoolsApp.smscAccount.home.createOrEditLabel"
      >
        Create or edit a Smsc Account
      </h2>

      <div>
        

        <div class="form-group d-none" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="smpptoolsApp.smscAccount.name"
            for="field_name"
            [ngbTooltip]="'smpptoolsApp.smscAccount.help.name' | translate"
            >Name</label
          >
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('name')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 80 }"
            >
              This field cannot be longer than 80 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="smpptoolsApp.smscAccount.description"
            for="field_description"
            [ngbTooltip]="'smpptoolsApp.smscAccount.help.description' | translate"
            >Description</label
          >
          <textarea
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          ></textarea>
        </div>

        <div class="row">
          <div class="form-group col-md-5">
            <label
              class="form-control-label"
              jhiTranslate="smpptoolsApp.smscAccount.systemID"
              for="field_systemID"
              [ngbTooltip]="'smpptoolsApp.smscAccount.help.systemID' | translate"
              >System ID</label
            >
            <input type="text" class="form-control" name="systemID" id="field_systemID" data-cy="systemID" formControlName="systemID" />
            <div *ngIf="editForm.get('systemID')!.invalid && (editForm.get('systemID')!.dirty || editForm.get('systemID')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('systemID')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
            </div>
          </div>

          <div class="form-group col-md-5">
            <label
              class="form-control-label"
              jhiTranslate="smpptoolsApp.smscAccount.password"
              for="field_password"
              [ngbTooltip]="'smpptoolsApp.smscAccount.help.password' | translate"
              >Password</label
            >
            <input type="text" class="form-control" name="password" id="field_password" data-cy="password" formControlName="password" />
            <div *ngIf="editForm.get('password')!.invalid && (editForm.get('password')!.dirty || editForm.get('password')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('password')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
            </div>
          </div>

          <div class="form-group col-md-2">
            <label
              class="form-control-label"
              jhiTranslate="smpptoolsApp.smscAccount.maxBinds"
              for="field_maxBinds"
              [ngbTooltip]="'smpptoolsApp.smscAccount.help.maxBinds' | translate"
              >Max Binds</label
            >
            <input type="number" class="form-control" name="maxBinds" id="field_maxBinds" data-cy="maxBinds" formControlName="maxBinds" />
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-3">
            <label
              class="form-control-label"
              jhiTranslate="smpptoolsApp.smscAccount.bindType"
              for="field_bindType"
              [ngbTooltip]="'smpptoolsApp.smscAccount.help.bindType' | translate"
              >Bind Type</label
            >
            <select class="form-control" name="bindType" id="field_bindType" data-cy="bindType" formControlName="bindType" required>
              <option value="*">ANY</option>
              <option value="transceiver">TRANSCEIVER</option>
              <option value="receiver">RECEIVER</option>
              <option value="transmitter">TRANSMITTER</option>
            </select>
          </div>

          <div class="form-group col-md-3">
            <label
              class="form-control-label"
              jhiTranslate="smpptoolsApp.smscAccount.addressRange"
              for="field_addressRange"
              [ngbTooltip]="'smpptoolsApp.smscAccount.help.addressRange' | translate"
              >Address Range</label
            >
            <input
              type="text"
              class="form-control"
              name="addressRange"
              id="field_addressRange"
              data-cy="addressRange"
              formControlName="addressRange"
            />
          </div>

          <div class="form-group col-md-3">
            <label
              class="form-control-label"
              jhiTranslate="smpptoolsApp.smscAccount.addressTON"
              for="field_addressTON"
              [ngbTooltip]="'smpptoolsApp.smscAccount.help.addressTON' | translate"
              >Address TON</label
            >
            <select class="form-control" name="addressTON" id="field_addressTON" data-cy="addressTON" formControlName="addressTON">
              <option *ngFor="let o of smppTON" [ngValue]="o.value" [innerHtml]="o.label"></option>
            </select>
          </div>

          <div class="form-group col-md-3">
            <label
              class="form-control-label"
              jhiTranslate="smpptoolsApp.smscAccount.addressNPI"
              for="field_addressNPI"
              [ngbTooltip]="'smpptoolsApp.smscAccount.help.addressNPI' | translate"
              >Address NPI</label
            >
            <select class="form-control" name="addressNPI" id="field_addressNPI" data-cy="addressNPI" formControlName="addressNPI">
              <option *ngFor="let o of smppNPI" [ngValue]="o.value" [innerHtml]="o.label"></option>
            </select>
          </div>
        </div>

        <fieldset>
          <legend>Mobile Originated SMS Sending</legend>

          <div class="row">
            <div class="form-group col-md-4">
              <label
                class="form-control-label"
                jhiTranslate="smpptoolsApp.smscAccount.moErrorRate"
                for="field_moErrorRate"
                [ngbTooltip]="'smpptoolsApp.smscAccount.help.moErrorRate' | translate"
                >Mo Error Rate</label
              >
              <input
                type="number"
                class="form-control"
                name="moErrorRate"
                id="field_moErrorRate"
                data-cy="moErrorRate"
                formControlName="moErrorRate"
              />
              <div
                *ngIf="editForm.get('moErrorRate')!.invalid && (editForm.get('moErrorRate')!.dirty || editForm.get('moErrorRate')!.touched)"
              >
                <small
                  class="form-text text-danger"
                  *ngIf="editForm.get('moErrorRate')?.errors?.min"
                  jhiTranslate="entity.validation.min"
                  [translateValues]="{ min: 0 }"
                >
                  This field should be at least 0.
                </small>
                <small
                  class="form-text text-danger"
                  *ngIf="editForm.get('moErrorRate')?.errors?.max"
                  jhiTranslate="entity.validation.max"
                  [translateValues]="{ max: 100 }"
                >
                  This field cannot be more than 100.
                </small>
                <small
                  class="form-text text-danger"
                  [hidden]="!editForm.get('moErrorRate')?.errors?.number"
                  jhiTranslate="entity.validation.number"
                >
                  This field should be a number.
                </small>
              </div>
            </div>

            <div class="form-group col-md-8">
              <label
                class="form-control-label"
                jhiTranslate="smpptoolsApp.smscAccount.moErrorCode"
                for="field_moErrorCode"
                [ngbTooltip]="'smpptoolsApp.smscAccount.help.moErrorCode' | translate"
                >Mo Error Code</label
              >
              <select class="form-control" name="moErrorCode" id="field_moErrorCode" data-cy="moErrorCode" formControlName="moErrorCode">
                <option *ngFor="let o of smppStatus" [ngValue]="o.value" [innerHtml]="o.label"></option>
              </select>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <legend>Delivery Receipt Sending</legend>
          <div class="row">
            <div class="form-group col-md-4">
              <label
                class="form-control-label"
                jhiTranslate="smpptoolsApp.smscAccount.dlrErrorRate"
                for="field_dlrErrorRate"
                [ngbTooltip]="'smpptoolsApp.smscAccount.help.dlrErrorRate' | translate"
                >Dlr Error Rate</label
              >
              <input
                type="number"
                class="form-control"
                name="dlrErrorRate"
                id="field_dlrErrorRate"
                data-cy="dlrErrorRate"
                formControlName="dlrErrorRate"
              />
              <div
                *ngIf="
                  editForm.get('dlrErrorRate')!.invalid && (editForm.get('dlrErrorRate')!.dirty || editForm.get('dlrErrorRate')!.touched)
                "
              >
                <small
                  class="form-text text-danger"
                  *ngIf="editForm.get('dlrErrorRate')?.errors?.min"
                  jhiTranslate="entity.validation.min"
                  [translateValues]="{ min: 0 }"
                >
                  This field should be at least 0.
                </small>
                <small
                  class="form-text text-danger"
                  *ngIf="editForm.get('dlrErrorRate')?.errors?.max"
                  jhiTranslate="entity.validation.max"
                  [translateValues]="{ max: 100 }"
                >
                  This field cannot be more than 100.
                </small>
                <small
                  class="form-text text-danger"
                  [hidden]="!editForm.get('dlrErrorRate')?.errors?.number"
                  jhiTranslate="entity.validation.number"
                >
                  This field should be a number.
                </small>
              </div>
            </div>

            <div class="form-group col-md-8">
              <label
                class="form-control-label"
                jhiTranslate="smpptoolsApp.smscAccount.dlrErrorCode"
                for="field_dlrErrorCode"
                [ngbTooltip]="'smpptoolsApp.smscAccount.help.dlrErrorCode' | translate"
                >Dlr Error Code</label
              >
              <select
                class="form-control"
                name="dlrErrorCode"
                id="field_dlrErrorCode"
                data-cy="dlrErrorCode"
                formControlName="dlrErrorCode"
              >
                <option *ngFor="let o of smppDLRStatus" [ngValue]="o.value" [innerHtml]="o.label"></option>
              </select>
            </div>
          </div>
        </fieldset>
      </div>
      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
