<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="smscAccount">
      <h2 data-cy="smscAccountDetailsHeading"><span jhiTranslate="smpptoolsApp.smscAccount.detail.title">Smsc Account</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ smscAccount.id }}</span>
        </dd>
        <dt>
          <span jhiTranslate="smpptoolsApp.smscAccount.name" [ngbTooltip]="'smpptoolsApp.smscAccount.help.name' | translate">Name</span>
        </dt>
        <dd>
          <span>{{ smscAccount.name }}</span>
        </dd>
        <dt>
          <span jhiTranslate="smpptoolsApp.smscAccount.description" [ngbTooltip]="'smpptoolsApp.smscAccount.help.description' | translate"
            >Description</span
          >
        </dt>
        <dd>
          <span>{{ smscAccount.description }}</span>
        </dd>
        <dt>
          <span jhiTranslate="smpptoolsApp.smscAccount.maxBinds" [ngbTooltip]="'smpptoolsApp.smscAccount.help.maxBinds' | translate"
            >Max Binds</span
          >
        </dt>
        <dd>
          <span>{{ smscAccount.maxBinds }}</span>
        </dd>
        <dt>
          <span jhiTranslate="smpptoolsApp.smscAccount.systemID" [ngbTooltip]="'smpptoolsApp.smscAccount.help.systemID' | translate"
            >System ID</span
          >
        </dt>
        <dd>
          <span>{{ smscAccount.systemID }}</span>
        </dd>
        <dt>
          <span jhiTranslate="smpptoolsApp.smscAccount.password" [ngbTooltip]="'smpptoolsApp.smscAccount.help.password' | translate"
            >Password</span
          >
        </dt>
        <dd>
          <span>{{ smscAccount.password }}</span>
        </dd>
        <dt>
          <span jhiTranslate="smpptoolsApp.smscAccount.bindType" [ngbTooltip]="'smpptoolsApp.smscAccount.help.bindType' | translate"
            >Bind Type</span
          >
        </dt>
        <dd>
          <span>{{ smscAccount.bindType }}</span>
        </dd>
        <dt>
          <span jhiTranslate="smpptoolsApp.smscAccount.addressRange" [ngbTooltip]="'smpptoolsApp.smscAccount.help.addressRange' | translate"
            >Address Range</span
          >
        </dt>
        <dd>
          <span>{{ smscAccount.addressRange }}</span>
        </dd>
        <dt>
          <span jhiTranslate="smpptoolsApp.smscAccount.addressTON" [ngbTooltip]="'smpptoolsApp.smscAccount.help.addressTON' | translate"
            >Address TON</span
          >
        </dt>
        <dd>
          <span>{{ smscAccount.addressTON }}</span>
        </dd>
        <dt>
          <span jhiTranslate="smpptoolsApp.smscAccount.addressNPI" [ngbTooltip]="'smpptoolsApp.smscAccount.help.addressNPI' | translate"
            >Address NPI</span
          >
        </dt>
        <dd>
          <span>{{ smscAccount.addressNPI }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/smsc-account', smscAccount.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
