<div>
  <h2 id="page-heading" data-cy="DataFileHeading">
    <span jhiTranslate="smpptoolsApp.dataFile.home.title">Data Files</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="smpptoolsApp.dataFile.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-data-file"
        [routerLink]="['/data-file/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="smpptoolsApp.dataFile.home.createLabel"> Create a new Data File </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="dataFiles?.length === 0">
    <span jhiTranslate="smpptoolsApp.dataFile.home.notFound">No dataFiles found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="dataFiles && dataFiles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="smpptoolsApp.dataFile.name">Name</span></th>
          <th scope="col"><span jhiTranslate="smpptoolsApp.dataFile.description">Description</span></th>
          <th scope="col"><span jhiTranslate="smpptoolsApp.dataFile.fileID">File ID</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dataFile of dataFiles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/data-file', dataFile.id, 'view']">{{ dataFile.id }}</a>
          </td>
          <td>{{ dataFile.name }}</td>
          <td>{{ dataFile.description }}</td>
          <td>
            <a *ngIf="dataFile.fileID" (click)="openFile(dataFile.fileID, dataFile.fileIDContentType)" jhiTranslate="entity.action.open"
              >open</a
            >
            <span *ngIf="dataFile.fileID">{{ dataFile.fileIDContentType }}, {{ byteSize(dataFile.fileID) }}</span>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/data-file', dataFile.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/data-file', dataFile.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(dataFile)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
