<div>
  <h2 id="page-heading" data-cy="SmscInstanceHeading">
    <span jhiTranslate="smpptoolsApp.smscInstance.home.title">Smsc Instances</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="smpptoolsApp.smscInstance.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-smsc-instance"
        [routerLink]="['/smsc-instance/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="smpptoolsApp.smscInstance.home.createLabel"> Create a new Smsc Instance </span>
      </button>
    </div>
  </h2>

  

  

  <div class="alert alert-warning" id="no-result" *ngIf="smscInstances?.length === 0">
    <span jhiTranslate="smpptoolsApp.smscInstance.home.notFound">No smscInstances found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="smscInstances && smscInstances.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="smpptoolsApp.smscInstance.name">Name</span></th>
          <th scope="col"><span jhiTranslate="smpptoolsApp.smscInstance.description">Description</span></th>
          <th scope="col"><span jhiTranslate="smpptoolsApp.smscInstance.port">Port</span></th>
          <th scope="col"><span jhiTranslate="smpptoolsApp.smscInstance.isPersist">Is Persist</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let smscInstance of smscInstances; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/smsc-instance', smscInstance.id, 'view']">{{ smscInstance.name }}</a>
          </td>
          <td>{{ smscInstance.description }}</td>
          <td>{{ smscInstance.port }}</td>
          <td>
            <span [ngClass]="smscInstance.isPersist ? 'text-primary' : 'text-secondary'">{{ persistLabel(smscInstance.isPersist) }}</span>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/smsc-instance', smscInstance.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/smsc-instance', smscInstance.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(smscInstance)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
