<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="smscInstance">
      <h2 data-cy="smscInstanceDetailsHeading"><span jhiTranslate="smpptoolsApp.smscInstance.detail.title">Smsc Instance</span></h2>

      <hr />

      

      

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ smscInstance.id }}</span>
        </dd>
        <dt>
          <span jhiTranslate="smpptoolsApp.smscInstance.name" [ngbTooltip]="'smpptoolsApp.smscInstance.help.name' | translate">Name</span>
        </dt>
        <dd>
          <span>{{ smscInstance.name }}</span>
        </dd>
        <dt>
          <span jhiTranslate="smpptoolsApp.smscInstance.description" [ngbTooltip]="'smpptoolsApp.smscInstance.help.description' | translate"
            >Description</span
          >
        </dt>
        <dd>
          <span>{{ smscInstance.description }}</span>
        </dd>
        <dt>
          <span jhiTranslate="smpptoolsApp.smscInstance.port" [ngbTooltip]="'smpptoolsApp.smscInstance.help.port' | translate">Port</span>
        </dt>
        <dd>
          <span>{{ smscInstance.port }}</span>
        </dd>
        <dt>
          <span jhiTranslate="smpptoolsApp.smscInstance.isPersist" [ngbTooltip]="'smpptoolsApp.smscInstance.help.isPersist' | translate"
            >Is Persist</span
          >
        </dt>
        <dd>
          <span>{{ smscInstance.isPersist }}</span>
        </dd>
        <dt>
          <span
            jhiTranslate="smpptoolsApp.smscInstance.connectionTimeout"
            [ngbTooltip]="'smpptoolsApp.smscInstance.help.connectionTimeout' | translate"
            >Connection Timeout</span
          >
        </dt>
        <dd>
          <span>{{ smscInstance.connectionTimeout }}</span>
        </dd>
        <dt>
          <span jhiTranslate="smpptoolsApp.smscInstance.windowSize" [ngbTooltip]="'smpptoolsApp.smscInstance.help.windowSize' | translate"
            >Window Size</span
          >
        </dt>
        <dd>
          <span>{{ smscInstance.windowSize }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/smsc-instance', smscInstance.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
