<div>
  <h2 id="page-heading" data-cy="SmscAccountHeading">
    <span jhiTranslate="smpptoolsApp.smscAccount.home.title">Smsc Accounts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="smpptoolsApp.smscAccount.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-smsc-account"
        [routerLink]="['/smsc-account/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="smpptoolsApp.smscAccount.home.createLabel"> Create a new Smsc Account </span>
      </button>
    </div>
  </h2>

  

  

  <div class="alert alert-warning" id="no-result" *ngIf="smscAccounts?.length === 0">
    <span jhiTranslate="smpptoolsApp.smscAccount.home.notFound">No smscAccounts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="smscAccounts && smscAccounts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="smpptoolsApp.smscAccount.name">Name</span></th>
          <th scope="col"><span jhiTranslate="smpptoolsApp.smscAccount.description">Description</span></th>
          <th scope="col"><span jhiTranslate="smpptoolsApp.smscAccount.maxBinds">Max Binds</span></th>
          <th scope="col"><span jhiTranslate="smpptoolsApp.smscAccount.systemID">System ID</span></th>
          <th scope="col"><span jhiTranslate="smpptoolsApp.smscAccount.password">Password</span></th>
          <th scope="col"><span jhiTranslate="smpptoolsApp.smscAccount.bindType">Bind Type</span></th>
          <th scope="col"><span jhiTranslate="smpptoolsApp.smscAccount.addressRange">Address Range</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let smscAccount of smscAccounts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/smsc-account', smscAccount.id, 'view']">{{ smscAccount.name }}</a>
          </td>
          <td>{{ smscAccount.description }}</td>
          <td>{{ smscAccount.maxBinds }}</td>
          <td>{{ smscAccount.systemID }}</td>
          <td>{{ smscAccount.password }}</td>
          <td>{{ smscAccount.bindType }}</td>
          <td>{{ smscAccount.addressRange }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/smsc-account', smscAccount.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/smsc-account', smscAccount.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(smscAccount)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
