<aside class="sidebar shadow-sm">

  <nav class="sidebar-menu pt-3 pb-3">
    <div class="menu-header mt-4 mb-4">
      ESME Management
    </div>
    <ul class="menu-items">
      <li>
        <a href="javascript: void(0);" routerLink="/esme/dashboard" routerLinkActive="active">
          <fa-icon icon="tachometer-alt" [fixedWidth]="true"></fa-icon>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)" routerLink="/esme/accounts" routerLinkActive="active">
          <fa-icon icon="id-card" [fixedWidth]="true"></fa-icon>
          <span>ESME Accounts</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)" routerLink="/esme/sessions" routerLinkActive="active">
          <fa-icon icon="tv" [fixedWidth]="true"></fa-icon>
          <span>Active Sessions</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)" routerLink="/esme/smpp-presets" routerLinkActive="active">
          <fa-icon icon="file-alt" [fixedWidth]="true"></fa-icon>
          <span>SMPP Presets</span>
        </a>
      </li>
    </ul>
    <div class="menu-header mt-4 mb-4">
      SMSC Management
    </div>
    <ul class="menu-items">
      <li>
        <a href="javascript: void(0);" routerLink="/smsc/dashboard" routerLinkActive="active">
          <fa-icon icon="chart-pie" [fixedWidth]="true"></fa-icon>
          <span>SMSC Reporting</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)" routerLink="/smsc/instances" routerLinkActive="active">
          <fa-icon icon="server" [fixedWidth]="true"></fa-icon>
          <span>SMSC Instances</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)" routerLink="/smsc/sessions" routerLinkActive="active">
          <fa-icon icon="handshake" [fixedWidth]="true"></fa-icon>
          <span>Established Sessions</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)" routerLink="/smsc/profiles" routerLinkActive="active">
          <fa-icon icon="cogs" [fixedWidth]="true"></fa-icon>
          <span>Profiles</span>
        </a>
      </li>

    </ul>
    <div class="menu-header mt-4 mb-4">
      Documentation
    </div>
    <ul class="menu-items">
      <li>
        <a href="javascript: void(0);" routerLink="/forms" routerLinkActive="active">
          <fa-icon icon="gem"></fa-icon>
          <span>Forms</span>
        </a>
      </li>
      <li>
        <a href="javascript: void(0);" routerLink="/tables" routerLinkActive="active">
          <i class="fa fa-table"></i>
          <span>Tables</span>
        </a>
      </li>
      <li>
        <a href="javascript: void(0);" routerLink="/typography" routerLinkActive="active">
          <i class="fa fa-align-center"></i>
          <span>Typography</span>
        </a>
      </li>
      <li>
        <a href="javascript: void(0);" routerLink="/maps" routerLinkActive="active">
          <i class="fa fa-globe"></i>
          <span>Maps</span>
        </a>
      </li>
      <li>
        <a href="javascript: void(0);" routerLink="/notifications" routerLinkActive="active">
          <fa-icon icon="bell"></fa-icon>
          <span>Notifications</span>
        </a>
      </li>
    </ul>
    <div class="view-source mb-3">
      <a href="https://github.com/azouaoui-med/lightning-admin-angular" target="_blank" class="btn btn-block btn-lightning rounded-0">View Source</a>
    </div>
  </nav>
</aside>
